@use 'sass:color';
@use 'variables' as *;

.green { color: $green; }
.orange { color: $orange; }
.red { color: $red; }

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    height: 100%;
    background-color: #222222;
    padding-top: 4em;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
}

h3 {
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 1rem;
    img {
        vertical-align: middle;
        margin: 0 0 0 5px;
        cursor: pointer;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &.pointer {
        cursor: pointer;
    }
}

a {
    color: $text;
}

strong {
    font-weight: bolder;
}

button,
select,
input {
    font-family: inherit;
}

.center {
    text-align: center;
}

.input-group {
    display: flex;
    select,
    input,
    textarea {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        line-height: 1.5;
        border: 1px solid $gray;
        -moz-appearance: none;
        -webkit-appearance: none;
        display: block;
        margin: 0;
        &:focus {
            outline: 0;
            box-shadow: none;
            border-color: $green;
        }
    }
    label,
    button {
        white-space: nowrap;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        line-height: 1.5;
        background-color: $bg;
        border-color: $gray;
        border-style: solid;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0;
    }
    select {
        cursor: pointer;
    }
    textarea {
        min-height: 100px;
        resize: vertical;
    }
    &.large {
        select,
        input,
        label,
        button {
            padding: 1rem;
            font-size: 1.25rem;
        }
    }
    &.small {
        select,
        input,
        label,
        button {
            padding: 0.3rem 0.6rem;
            font-size: 0.875rem;
        }
    }
    &.left {
        label,
        button {
            border-radius: 0.5rem 0 0 0.5rem;
            border-width: 1px 0 1px 1px;
        }
        select,
        input,
        textarea {
            border-radius: 0 0.5rem 0.5em 0;
        }
    }
    &.right {
        label,
        button {
            border-radius: 0 0.5rem 0.5rem 0;
            border-width: 1px 1px 1px 0;
        }
        select,
        input,
        textarea {
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
}

.row {
    display: flex;
    margin: 0 -0.375rem;
}
.row-wrap {
    flex-wrap: wrap;
}
.col {
    width: 100%;
    padding: 0 0.375rem;
}
.col-25 {
    width: 25%;
}
.col-50 {
    width: 50%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    > * {
        margin: 0 0.5rem 0.5rem 0;
    }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader,
.loader:before,
.loader:after {
    background: $green;
    -webkit-animation: loader 1s infinite ease-in-out;
    animation: loader 1s infinite ease-in-out;
    width: 1rem;
    height: 4rem;
}
.loader {
    position: relative;
    color: $green;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    &::before,
    &::after {
        position: absolute;
        top: 0;
        content: '';
    }
    &::before {
        left: -1.5rem;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    &::after {
        left: 1.5rem;
    }
}
@-webkit-keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.mb {
    margin-bottom: 1.5rem;
}

.mbs {
    margin-bottom: 0.75rem;
}

.mt {
    margin-top: 1.5rem;
}

.mts {
    margin-top: 0.75rem;
}

.filters {
    display: flex;
    .input-group {
        margin: 0 0 0.5rem;
    }
}
.filters-pills {
    display: flex;
    flex-wrap: wrap;
}
.filters-pill {
    padding: 0.3rem 0.6rem;
    background-color: $gray-dark;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
    transition: background-color 0.3s, border-color 0.3s;
    border: 1px solid $gray-dark;
    &:hover {
        background-color: $gray;
        border-color: $gray;
    }
    &.selected {
        background-color: $orange;
        border-color: $orange;
    }
}
.filters-imgs {
    img {
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.3s;
        &.selected {
            opacity: 1;
            outline: 0.25rem solid $orange;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.filters-info {
    display: block;
    margin: -0.3rem 0 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    text-align: center;
    padding: 1.8rem;
    color: white;
    p {
        margin: 0;
    }
    a {
        color: white;
    }
}
.footer-content {
    display: inline-block;
    padding: 0 15px 15px;
    background-color: rgba($body, 0.7);
}
.footer-btns {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
    display: flex;
    justify-content: center;
    li {
        line-height: 1;
        display: inline-block;
        padding: 0 5px;
        border-right: 1px solid white;
        &:last-child {
            border-right: none;
        }
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        color: white;
        text-decoration: underline;
        transition: color 0.3s;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup-content {
    max-width: 90vh;
    padding: 1rem;
    p {
        text-align: center;
        margin: 0;
        font-size: 3rem;
        font-weight: 300;
    }
    strong {
        color: $green;
    }
}
.popup-close {
    position: fixed;
    top: 1.8rem;
    right: 1.8rem;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        content: ' ';
        height: 2px;
        width: 100%;
        margin: -1px 0 0;
        background-color: $text;
        transition: transform 0.3s;
    }
    &:hover {
        opacity: 1;
        &::before {
            transform: scale(0.7);
        }
    }
}

.top-nav {
    background-color: rgba($body, 0.7);
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 0;
    min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin: 0 0.5rem 0 0;
    }
    h1 {
        color: white;
        font-size: 1.25rem;
    }
}

.main {
    padding: 1.8rem;
}

.card {
    background-color: rgba(white, 0.95);
    padding: 1.5rem;
    margin: 0 0 1.875rem;
    position: relative;
    &:last-child {
        margin: 0;
    }
}
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.12rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    img {
        margin: 0 1rem 0 0;
    }
}
.card-collapse-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 0 0 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
    span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: $text;
        margin: 0 0 3px;
        transition: transform 0.3s;
        &:last-child {
            margin: 0;
        }
    }
    &.collapsed {
        span {
            &:first-child {
                transform: translate(7px, 7px);
            }
            &:last-child {
                transform: translate(-7px, -7px);
            }
        }
    }
    &:hover {
        opacity: 1;
    }
}
.card-content {
    padding: 1.5rem 0 0;
}

.tools {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: flex;
        align-items: center;
        margin: 0 0 1rem;
        &:last-child {
            margin: 0;
        }
    }
    img {
        margin: 0 1rem 0 0;
    }
}

.tools-nav {
    margin: 0 0 1rem;
    a {
        cursor: pointer;
        margin: 0 0.875rem 0.875rem 0;
        background-color: $text;
        padding: 0.75rem 1.5rem;
        color: white;
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s;
        text-decoration: none;
        border: 1px solid rgba(white, 0.5);
        &:hover {
            background-color: color.adjust($text, $lightness: 10%);
            img {
                transform: scale(1.1);
            }
        }
        &.router-link-active {
            background-color: $green;
            opacity: 1;
        }
    }
    img {
        transition: transform 0.3s;
        margin: 0 1rem 0 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    a {
        text-decoration: none;
        color: $green;
        transition: color 0.3s;
        &:hover {
            color: color.adjust($green, $lightness: -25%);
        }
    }
}
th {
    text-align: left;
    padding: 0.3rem;
}
td {
    border-bottom: 1px solid $gray;
    padding: 0.3rem;
}
tr {
    padding: 5px 0;
    &:last-child {
        td {
            border-bottom: none;
        }
    }
}
.table-fixed {
    table-layout: fixed;
}

.badge {
    padding: 0.75rem;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border: 1px solid;
    &.green {
        background-color: $green;
        border-color: $green;
    }
    &.orange {
        background-color: $orange;
        border-color: $orange;
    }
    &.red {
        background-color: $red;
        border-color: $red;
    }
    span {
        display: block;
        background-color: white;
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
        color: $text;
    }
}


@media (min-width: 1000px) {
    .show-on-mobile {
        display: none;
    }
}

@media (max-width: 999.98px) {
    .row {
        flex-wrap: wrap;
    }
    .col {
        margin: 0 0 0.75rem;
        &:last-child {
            margin: 0;
        }
    }
    .col-25,
    .col-50 {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .mb {
        margin-bottom: 1rem;
    }
    .mbs {
        margin-bottom: 0.5rem;
    }
    .mt {
        margin-top: 1rem;
    }
    .mts {
        margin-top: 0.5rem;
    }
    .main,
    .footer {
        padding: 1rem;
    }
    .popup-content {
        max-width: none;
        p {
            font-size: 1.8rem;
            text-align: left;
        }
    }
    .tools-nav {
        a {
            padding: 1rem;
            border-radius: 50%;
            span {
                display: none;
            }
        }
        img {
            margin: 0;
        }
    }
    .filters {
        display: block;
    }
}
